.tcr-references {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 16px;
    padding: 48px;
    /*background: #ffffff1a;*/
    margin: 1rem 0 1rem 0;
}

.tcr-logo img {
    width: 100px;
    height: auto;
    opacity: 0.3;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    transition: 0.3s all;
}

.tcr-logo img:hover {
    opacity: 0.5;
}
